<h2>Eu sou o show do scrapbook</h2>
<p> <%= @scrapbook.scrapbook_title %></p>
<% unless @memories.empty? %>
  <%= render 'shared/timeline' %>
<% end %>

<%= link_to "Add memories to scrapbook", new_family_scrapbook_memory_path(@family, @scrapbook, @memory) %>
