h1{
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  color: #461C7A;
}

h2{
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  text-align: center;
  color: #8D4C88;
}

.btngeral{
  color: #FFFFFF;
  background-color: #461C7A;
  padding: 12px 40px;
  border-radius: 50px;
  font-size: 16px;
  text-decoration: none;
}

p{

}

a{
font-family: 'Libre Franklin';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
text-transform: uppercase;
color: #292546;
}
