.btn-index-geral{
  display: inline-block;
  position: fixed;
  bottom: 30px;
  right: 20px;


}

.btn-index{
  text-decoration: none;
  padding: 10px 0;
  color: #5c348e;
  font-size: 35px;
}

.btn-index2{
  text-decoration: none;
  padding: 10px 0;
  color: #5c348e;
  font-size: 35px;
}

.btn-index1{
  text-decoration: none;
  font-size: 33px;
  color: #5c348e;
  padding: 10px 0;
}
