.btn-index-geral{
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 270px;
  right: 70px;
}

.btn-index{
  text-decoration: none;
  padding: 10px 0;
  color: #5c348e;
  font-size: 35px;
}

.btn-index:hover {
  opacity: 0.6;
}
