body{
  background-color: white;
  //position: relative;
  //height: 300vh;


}

h1{
  font-family: 'Libre Franklin', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  color: #5c348e;
  margin-bottom: 30px;
}

h2{
  font-family: 'Libre Franklin', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  text-align: center;
  color: #5c348e;
  margin-bottom: 40px;
  margin-top: 70px;

}

h3{
  font-family: 'Libre Franklin', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  text-align: center;
  color: #5c348e;
  margin-bottom: 10px;
}

h4{
  font-family: 'Libre Franklin', sans-serif;
  color: #292546;
  font-size: 18px;
}

h5{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color:#3c3478;
}

p{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #292546;
}

a{
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 19px;
  color: #292546;
  text-decoration: none;

}

a:hover{
  text-decoration: none;
  color: #292546;
  text-decoration: none;
}

.btnstart{
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  background-color: #7353B7;
  padding: 6px 60px;
  border-radius: 24px;
  font-weight: lighter;
  font-size: 20px;
  text-decoration: none;
  letter-spacing: 3px;
  border: 2px solid #7353B7;
}
.btnstart:hover{
  color: #7353B7;
  background-color: #FFFFFF;
  text-decoration: none;
  border: 2px solid #7353B7;
}

.btngeral{
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  background-color: #7353B7;
  padding: 6px 60px;
  border-radius: 24px;
  font-weight: lighter;
  font-size: 16px;
  text-decoration: none;
  letter-spacing: 3px;
  border: 2px solid #7353B7;
}

.btngeral:hover{
  color: #7353B7;
  background-color: #FFFFFF;
  text-decoration: none;
  border: 2px solid #7353B7;
}

.close-icon{
  color: #7353B7;
}

.btn-memory{
  display: inline-block;
}

ul{
  text-decoration: none;
}

li{
  list-style-type: none;
}

.family{
  margin-top: 140px;
}

h6{
  font-family: 'Libre Franklin', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  text-align: center;
  color: #7353B7;
  margin-top: 80px;
}
