

.row {
  margin: 0 -5px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.home-card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 10px;
  border: 6px;
  text-align: center;
  background-image: linear-gradient(to right, #e2dbed, #ffffff);
  transition: transform 250ms, opacity 400ms;
  height: 470px;
}

.home-card-img-1 {
  background-image: url("https://res.cloudinary.com/monstergrannies/image/upload/w_100,ar_1:1,c_fill,g_auto,e_sharpen/v1654770350/Quilt/fotoshomepagenovas/write_kfc53l.svg");
}

.home-card-img-2 {
  background-image: url("https://res.cloudinary.com/monstergrannies/image/upload/w_100,ar_1:1,c_fill,g_auto,e_sharpen/v1654770342/Quilt/fotoshomepagenovas/save_rwuif0.svg");
}
.home-card-img-3 {
  background-image: url("https://res.cloudinary.com/monstergrannies/image/upload/w_100,ar_1:1,c_fill,g_auto,e_sharpen/v1654770327/Quilt/fotoshomepagenovas/share_pdueuc.svg");
}
.home-card-img-4 {
  background-image: url("https://res.cloudinary.com/monstergrannies/image/upload/w_1000,ar_16:9,c_fill,g_auto,e_sharpen/v1654770333/Quilt/fotoshomepagenovas/revisit_e4mkv7.svg");
}


.home-card:hover {
  transform: scale(1.2);
}

.parawrite{
  margin-top: 8%;
  font-size: 18px;
  color:#492867;
  font-family: 'Libre Franklin', sans-serif;
}

.parasave{
  margin-top: 8%;
  font-size: 18px;
  color:#64bcbe;
  font-family: 'Libre Franklin', sans-serif;
}

.parashare{
  margin-top: 8%;
  font-size: 18px;
  color:#e26b85;
  font-family: 'Libre Franklin', sans-serif;
}

.pararevisit{
  margin-top: 8%;
  font-size: 18px;
  color:#218cb3;
  font-family: 'Libre Franklin', sans-serif;
}



.container-about{
  background-color: #F7F6FC ;
  margin-top: 5%;
}

.icons-home{
  color: #7353B7;
  font-size: 45px;
  margin-top: 55px;
  text-shadow: 1px 1px 3px #F7F6FC;
}

.about-img{
  background-size: cover;
  background-position: center;
  padding: 290px 0;
  height: 250px;
}

.text-about{
  padding-top: -25px;
  max-width: 520px;
}

.about-img .text-about h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 27px;
}

.about-img .text-about p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  margin-bottom: 30px;
  line-height: 30px;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 380px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}


.size-home-img {
  height: 300px;
}
