

.row {
  margin: 0 -5px;
}
c
.row:after {
  content: "";
  display: table;
  clear: both;
}


.home-card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 6px;
  border: 6px;
  border-radius: 6px;
  text-align: center;
  background-image: linear-gradient(to right, #e2dbed, #ffffff);
  transition: transform 250ms, opacity 400ms;
}

.home-card:hover {
  transform: scale(1.2);
}

.parahome{
  margin-top: 8%;
  font-size: 18px;
  color:#492867;
  font-family: 'Libre Franklin', sans-serif;
}
