.modal-body{
  background-color: #F7F6FC;
  opacity: 0.9;
  width: 40%;
  padding: 15px 0;
  margin-left: 35%;
  margin-bottom: 15%;
  margin-top: 9%;
  border-radius: 10px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1)
}

.icon-memory{
  color: #7353B7;
  width: 20%;
  height: 20%;
}
