.container-show-memory{
  background-color: #F7F6FC;
  opacity: 0.9;
  width: 40%;
  padding: 15px 0;
  margin-left: 35%;
  margin-bottom: 15%;
  margin-top: 9%;
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1)
}

.icon-trash{
  color: #7353B7;
  font-size: 20px;
  position: absolute;
  bottom: 40px;
  right: 25px;
  opacity: 1;
}
.icon-trash:hover {
  opacity: 0.6;
}

.btn-memory{
  width: 50%;
  min-width: 250px;
  display: inline-block;
  vertical-align: top;
}

.trash{
  width: 50%;
  min-width: 250px;
  display: inline-block;
  vertical-align: top;
}

img, svg {
  object-fit: cover;
  border-radius: 0px;
}

.memory-image-model {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
.text-modal {
  text-align: left;
}
.modal-content {
  border-radius: 6px;
  border: none;
}
