<h3 class="text-center">All Families</h3>
  <div class="">
    <%@families.each do |family| %>
    <%= link_to family_path(family) do %>
    <div class="d-flex justify-content-between justcard-group">
      <div class="card-img-top">
        <% if family.photo.attached? %>
        <%=cl_image_tag family.photo.key, width: 300 %>
        <% end %>
      </div>
      <div class="card-title">
        <h4><%=family.family_name%></h4>
      </div>
      <div class="card-subtitle">
        <p><%=family.description%></p>
      </div>
        <%end%>
    <%end%>
    </div>
  </div>

</div>


<div class="btn-index-geral">

<div class="dropdown ">
  <button class="dropbtn"><i class="fas fa-book-open btn-index"></i></button>
  <div class="dropdown-content">
    <a href="#">My Scrapbooks</a>
  </div>
</div>


<div class="dropdown ">
  <button class="dropbtn"><i class="fas fa-user btn-index"></i></button>
  <div class="dropdown-content">
    <a href="#">My Memories</a>
  </div>
</div>

<div class="sm-sl">
       <i class="fas fa-search btn-index"></i>
</div>

<div class="dropdown">
  <button class="dropbtn"><i class="fas fa-plus btn-index"></i></button>
  <div class="dropdown-content">
    <a href="#">Create a Family</a>
    <a href="#">Create a Memory</a>
  </div>
</div>

</div>

