<div class="container">
  <h3>My Families</h3>
    <div class="row rounded">
      <% @families.each do |family| %>
        <div class="col-lg-4 col-md-12 d-flex justify-content-center">
          <div class="card my-4" style="width: 19rem;">
            <%= link_to family_path(family) do %>
              <div class="card-img-top">
                <% if family.photo.attached? %>
                <%= cl_image_tag family.photo.key, width: 302, height: 180 %>
                <% end %>
                  <div class="card-body">
                    <h4 class="card-title"><%=family.family_name%></h4>
                    <p class="card-text "><%=family.description.first(30)%>...</p>
                    <div class="mt-2">
                    <a href="new_family_path" class="btngeral">Add Member</a>
                    </div>
                  </div>
              </div>
            <%end%>
          </div>
        </div>
      <%end%>
    </div>
</div>
