<div class="banner">
  <div class="container row justify-content-around">
    <div class="col-5">I'm an image!</div>
    <div class="col-7">
      <h1><strong>Save your memories in a safe place</strong></h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ac libero vel lorem porttitor volutpat. Vivamus finibus commodo sem, id ullamcorper est viverra nec. Sed augue mi, semper id augue vel, vehicula bibendum nulla. Integer imperdiet nulla at ligula condimentum vehicula. Morbi sapien ligula, lacinia at gravida ac, tempus sed.</p>
      <%= link_to "Get Started Now!", new_user_registration_path, class: "btngeral" %>
    </div>
  </div>
</div>
