<div class="banner-1">
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/monstergrannies/image/upload/v1654682491/Quilt/fotos/woman-celebrating-birthday-with-family-2022-04-20-15-13-38-utc_gntjb4.jpg);">
  <div class="container row justify-content-end">
    <div class="col-7 text-banner justify-content-end">
      <h1>Quilt, Turning memories into life</h1>
      <p >Don't forget your precious memories. Save them in Quilt and build your own memory quilt. Writing and saving our memories of the past is what will guide us into the future. Share it with the people you love, life is to be lived and shared with them.
      </p>
      <%= link_to "Get Started Now!", new_user_registration_path, class: "btngeral py-3" %>
    </div>
  </div>
</div>
