<div class="banner">
  <div class="container">
    <p class="col-sm">I'm an image!</p>
      <div class="col-sm">
        <h1><strong>Save your memories in a safe place</strong></h1>
        <a class="btngeral" href="#">Apply now</a>
      </div>
  </div>
</div>
