<h2 class="text-center">How does it work?</h2>
<div class="container-home">

   <div class="row px-5">
  <div class="column home">
    <div class="card home-card ">
      <img src="https://res.cloudinary.com/monstergrannies/image/upload/w_1000,ar_16:9,c_fill,g_auto,e_sharpen/v1654770350/Quilt/fotoshomepagenovas/write_kfc53l.svg">
    </div>
    <p class="text-center parawrite" >WRITE</p>
  </div>
  <div class="column home">
    <div class="card home-card">
      <img src="https://res.cloudinary.com/monstergrannies/image/upload/w_1000,ar_16:9,c_fill,g_auto,e_sharpen/v1654770342/Quilt/fotoshomepagenovas/save_rwuif0.svg">
    </div>
    <p class="text-center parasave">SAVE</p>
  </div>
  <div class="column home">
    <div class="card home-card">
     <img src="https://res.cloudinary.com/monstergrannies/image/upload/w_1000,ar_16:9,c_fill,g_auto,e_sharpen/v1654770327/Quilt/fotoshomepagenovas/share_pdueuc.svg">
    </div>
    <p class="text-center parashare">SHARE</p>
  </div>
  <div class="column home">
    <div class="card home-card ">
       <img src="https://res.cloudinary.com/monstergrannies/image/upload/w_1000,ar_16:9,c_fill,g_auto,e_sharpen/v1654770333/Quilt/fotoshomepagenovas/revisit_e4mkv7.svg">
    </div>
    <p class="text-center pararevisit">REVISIT</p>
  </div>
</div>

<div class="about-1">
<div class="about-img" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/monstergrannies/image/upload/v1654696345/Quilt/memories%20lewagon/Prancheta_6_hheetf.png);">
  <div class="container row justify-content-end">
    <div class="col-7 text-about">
      <h1>About us</h1>
      <p > This app was developed to create a space where you can storage and share your memories with the ones you love and make them forever!! <br>
     Created by a group of junior full-stack developers and young entrepreneurs! You need to try and see for yourself! </p>
    </div>
  </div>
</div>
