<h2 class="text-center">How does it work?</h2>
<div class="container-home">

   <div class="row px-5">

  <div class="col-3 home">
    <div class="card home-card ">
      <img src="https://res.cloudinary.com/monstergrannies/image/upload/v1654794121/Quilt/fotoshomepagenovas/Prancheta_1_vwp5fv.png">
    </div>
    <p class="text-center parahome" >WRITE</p>
  </div>

  <div class="col-3 home">
    <div class="card home-card">
      <img src="https://res.cloudinary.com/monstergrannies/image/upload/v1654794121/Quilt/fotoshomepagenovas/Prancheta_1_1_ugtgdy.png">
    </div>
    <p class="text-center parahome">SAVE</p>
  </div>

  <div class="col-3 home">
    <div class="card home-card">
     <img src="https://res.cloudinary.com/monstergrannies/image/upload/v1654794121/Quilt/fotoshomepagenovas/Prancheta_1_3_opuol1.png">
    </div>
    <p class="text-center parahome">SHARE</p>
  </div>

  <div class="col-3 home">
    <div class="card home-card">
     <img src="https://res.cloudinary.com/monstergrannies/image/upload/v1654794121/Quilt/fotoshomepagenovas/Prancheta_1_2_vv8wx0.png">
    </div>
    <p class="text-center parahome">REVISIT</p>
  </div>
  </div>
</div>
