<h2 class="text-center">How does it work?</h2>
<div class="container-home">
 <div class="row justify-content-around" >

   <div class="col-lg-2 col-xs-12 text-center">
    <div class="card-home">
      <i class="fas fa-save icons-home"></i>
      <p class="parahome">Save your memories</p>
    </div>
   </div>

   <div class="col-lg-2 col-xs-12 text-center">
    <div class=" card-home">
      <i class="fas fa-book-open icons-home"></i>
      <p class="parahome">Create Scrapbooks</p>
    </div>
  </div>

  <div class="col-lg-2 col-xs-12 text-center">
    <div class="card-home">
<i class="fas fa-trash icons-home"></i>
      <p class="parahome">Delete memories</p>
    </div>
  </div>

   <div class="col-lg-2 col-xs-12 text-center">
    <div class="card-home">
      <i class="fas fa-users icons-home"></i>
      <p class="parahome">Share with groups</p>
    </div>
   </div>
</div>
 </div>

<div class="container-about">
   <div class="row justify-content-around" >
     <h2 class="text-center">About us</h2>
     <p class="text-center"> This app was developed to create a space where you can storage and share your memories with the ones you love and make them forever!!</p>
   </div>
</div>
