<h2 class="text-center">How does it work?</h2>
<div class="container-home">

  <div class="row px-5">
    <div class="col-3" style="text-align: center;">
      <div class="home-card">
        <img class="size-home-img" src="https://res.cloudinary.com/monstergrannies/image/upload/v1654794121/Quilt/fotoshomepagenovas/Prancheta_1_vwp5fv.png" >
      </div>
      <p class="text-center parawrite" >WRITE</p>
    </div class="home-card">
    <div class="col-3"  style="text-align: center;">
      <div class="home-card">
        <img class="size-home-img" src="https://res.cloudinary.com/monstergrannies/image/upload/v1654794121/Quilt/fotoshomepagenovas/Prancheta_1_1_ugtgdy.png">
      </div class="home-card">
      <p class="text-center parasave">SAVE</p>
    </div>
    <div class="col-3"  style="text-align: center;">
      <div class="home-card">
        <img class="size-home-img" src="https://res.cloudinary.com/monstergrannies/image/upload/v1654794121/Quilt/fotoshomepagenovas/Prancheta_1_3_opuol1.png">
      </div>
      <p class="text-center parashare">SHARE</p>
    </div>
    <div class="col-3"  style="text-align: center; ">
      <div class="home-card">
        <img class="size-home-img" src="https://res.cloudinary.com/monstergrannies/image/upload/v1654794121/Quilt/fotoshomepagenovas/Prancheta_1_2_vv8wx0.png">
      </div>
      <p class="text-center pararevisit">REVISIT</p>
    </div>
  </div>
</div>
