<h2 class="text-center">How does it work?</h2>
<div class="text-center">
 <div class="row" >
   <div class="col-3 card-home">
     <%= image_tag "https://res.cloudinary.com/monstergrannies/image/upload/v1654075848/Quilt/save_dz9kh3.png", class: "img-home" %>
     <p class="parahome">Save your memories</p>
   </div>
   <div class="col-3 card-home">
     <%= image_tag "https://res.cloudinary.com/monstergrannies/image/upload/v1654075852/Quilt/scrapbook_nt162t.png", class: "img-home" %>
     <p class="parahome">Create Scrapbooks</p>
   </div>
   <div class="col-3 card-home">
     <%= image_tag "https://res.cloudinary.com/monstergrannies/image/upload/v1654075844/Quilt/trash_fa66ma.png", class: "img-home" %>
     <p class="parahome">Delete memories</p>
   </div>
   <div class="col-3 card-home">
     <%= image_tag "https://res.cloudinary.com/monstergrannies/image/upload/v1654075836/Quilt/famiily_hfbdqv.png", class: "img-home" %>
     <p class="parahome">Create groups to share</p>
   </div>
 </div>
</div>
<h2 class="text-center">About us</h2>
<div class="container">

 <p class="text-center", id="pa-home">This app was developed to create a space where you can storage and share your memories with the ones you love and make them forever!!</p>
</div>
