.navbar-lewagon {
  justify-content: space-between;
  background: white;
  margin-top: 0px;
  top: 0;
  left: 0;
  right: 0px;
  width: 100%;
  position: fixed;
  display: flex;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 110px;
  margin-left: 25px;
}
