<%# Timeline Render %>
<%= render 'shared/timeline' %>

<%# btn user timeline %>
<div class="btn-index-geral">
   <div class="sm-sl">
      <%= link_to families_path do %>
        <i class="fas fa-users btn-index2"></i>
      <% end %>
  </div>
  <div class="sm-sl">
       <i class="fas fa-search btn-index1"></i>
  </div>
   <div class="sm-sl">
      <%= link_to new_memory_path do %>
        <i class="fas fa-plus btn-index"></i>
      <% end %>
   </div>
   a
</div>
