<div>
  <%@memories.each do |memory| %>
    <%= link_to memory_path(memory) do %>
      <p><%=memory.title%></p>
      <p><%=memory.date%></p>
      <p><%=memory.location%></p>
    <%end%>
  <%end %>
</div>

<%# if  memory belongs? to scrapbook do not appear in user memories%>
